*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(29, 25, 25);
}

img {
    /* border: 1px solid #ddd; */
    /* border-radius: 4px;   */
    padding: 5px;
    width: 200px;
    height: 180px;
    margin: 5%;
  }

 .cardheader{
    background-color: black;
    color: white;
    text-align: center;
}

.card-body, .card-footer{
    background-image: linear-gradient(to right,gray, white);
    text-align: center;
}

.card{
    margin: 20px;
    border: 1px solid white;
}



